type sysfs_vibrator, fs_type, sysfs_type;
type sysfs_devfreq, fs_type, sysfs_type;
type mpctl_socket, file_type, mlstrustedobject;
type mpctl_data_file, file_type, data_file_type;
