# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on init
    # cpuquiet rqbalance permissions
    chown system system /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/balance_level
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/nr_run_thresholds
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/nr_down_run_thresholds
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/balance_level
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/nr_run_thresholds
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/nr_down_run_thresholds

on charger
    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0

on boot
    # Disable thermal
    write /sys/module/msm_thermal/core_control/enabled 0

    # Device boots with performance governor.
    # Switch one core to alucard to set permissions, for power hal and system server.
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucard"
    chown system system /dev/cpuctl/cpu.notify_on_migrate
    chmod 0660 /dev/cpuctl/cpu.notify_on_migrate
    chown root system /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online

    # Bring CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

on property:init.svc.bootanim=stopped
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucard"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "alucard"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "alucard"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "alucard"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /dev/cpuctl/cpu.notify_on_migrate 1

    # Enable thermal
    write /sys/module/msm_thermal/core_control/enabled 1

    # Switch to alucard and let PowerHAL configure it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucard"
    chown system system /sys/devices/system/cpu/cpufreq/alucard/cpus_down_rate
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/cpus_down_rate
    chown system system /sys/devices/system/cpu/cpufreq/alucard/cpus_up_rate
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/cpus_up_rate
    chown system system /sys/devices/system/cpu/cpufreq/alucard/dec_cpu_load
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/dec_cpu_load
    chown system system /sys/devices/system/cpu/cpufreq/alucard/dec_cpu_load_at_min_freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/dec_cpu_load_at_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/alucard/freq_responsiveness
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/freq_responsiveness
    chown system system /sys/devices/system/cpu/cpufreq/alucard/inc_cpu_load
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/inc_cpu_load
    chown system system /sys/devices/system/cpu/cpufreq/alucard/inc_cpu_load_at_min_freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/inc_cpu_load_at_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/alucard/io_is_busy
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_1
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_1
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_2
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_2
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_3
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_3
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_4
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_dec_step_4
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_1
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_1
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_2
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_2
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_3
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_3
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_4
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_4
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_1
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_1
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_2
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_2
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_3
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_3
    chown system system /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_4
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/pump_inc_step_at_min_freq_4
    chown system system /sys/devices/system/cpu/cpufreq/alucard/sampling_rate
    chmod 0644 /sys/devices/system/cpu/cpufreq/alucard/sampling_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/module/cpu_boost/parameters/input_boost_enabled
    chmod 0644 /sys/module/cpu_boost/parameters/input_boost_enabled
    write /sys/module/cpu_boost/parameters/input_boost_enabled 0

    # Adreno Idler
    chown system system /sys/module/adreno_idler/parameters/
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_active
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_active
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_downdifferential
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_downdifferential
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_idlewait
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_idlewait
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_idleworkload
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_idleworkload
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 50
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 99
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 1000

    # I/O Scheduler
    chown system system /sys/block/mmcblk0/queue/read_ahead_kb
    chmod 0644 /sys/block/mmcblk0/queue/read_ahead_kb
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    chown system system /sys/block/mmcblk1/queue/read_ahead_kb
    chmod 0644 /sys/block/mmcblk1/queue/read_ahead_kb
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
